<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
  
    <title>Document</title>

</head>
<body>
    {% for msg in get_flashed_messages() %}
    <div >{{ msg }}</div>
    {% endfor %}
    

    <div class="container">
        <h1 class="text-center display-3">Cupcakes List</h1>
        <div class="row justify-content-center">
          <div class="col-6">
            <ul class="list-group">
              {% for cake in cakes %}
              <li class="list-group-item d-flex justify-content-between align-items-center">{{cake.flavor}} - <button
                  class="delete-todo btn-sm btn-danger"
                  data-id="{{cake.id}}">X</button></li>
              {% endfor %}
            </ul>
          </div>
        </div>    
    </div>

    <ul id="cupcakes-list">
    </ul>

    <h2 class="text-center display-3">Add a new cupcake!</h2>

    <form id="new-cupcake-form">
        <div class="row justify-content-center">
            <div class="col-6">
                <div >
                    <label for="form-flavor">Flavor: </label>
                    <input name="flavor" id="form-flavor">
                </div>

                <div >
                    <label for="form-size">Size: </label>
                    <input name="size" id="form-size">
                </div>

                <div>
                    <label for="form-rating">Rating: </label>
                    <input type="number" name="rating" id="form-rating">
                </div>
    
                <div>
                    <label for="form-image">Image: </label>
                    <input name="image" id="form-image">
                </div>
                <button type="submit">Add!</button>
            </div>
        </div>
    
        
    </form>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/cupcakes.js"></script>
    
</body>
</html>